python-Levenshtein
pip3 install pinyin
jieba
nltk
networkx
bs4
gensim


# pip3 install -r requirements.txt

# python3 synonym_detect.py -corpus_path ../input/三体.txt -input_word_path ../temp/input_word.txt -process_number 2 -if_use_w2v_model True

# python3 synonym_detect.py -corpus_path ../input/三体.txt -input_word_path ../temp/input_word.txt -process_number 2 -if_use_sn_model True

# python3 synonym_detect.py -corpus_path ../input/三体.txt -input_word_path ../temp/input_word.txt -process_number 2 -if_use_leven_model True

